
.Background
{
    background: #2A2A2A;
    
}

.navnav {
    background:#2A2A2A;
    top: 0; /* Position the navbar at the top of the page */
    left:0;
    margin: 0px;
    padding:0px;
    width: 100%; /* Full width */
    right: 0;
  }

#wrapper {
    margin-left: auto;
    margin-right: auto;
    justify-content: end;
    width: 960px;
  }
  .CatalogImages {
    width: 100%;
    height: 20rem;
  }

  .nav-item, .nav-item-footer {
    text-decoration: none;
    position: relative;
  }

  .nav-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: white;

    transform: scale(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
  }

  .nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    height: 5px;
  }

  .nav-item-footer::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: white;

    transform: scale(0);
    transform-origin: right;
    transition: transform 250ms ease-in;

  }

  .nav-item-footer:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .navbar-toggler-icon {
    border: none;
    
  }

  textarea {
    resize: none;

    width: 20px;
    min-width: 200px;
    max-width: auto;

    height: 250px;
    min-height: 250px;
    max-height: auto;
  }
  
  .shortTextArea
  {
    width: 400px;
    min-width: 400px;
    max-width: auto;
  }

  .imageFromUser
  {
    width: 500px;
    min-width: 500px;
    max-width: auto;
  }

  .justify
  {
    text-align: justify;
    text-justify: inter-word;
  }

.hamburger{
  display: none;
}

@media (max-width: 767px)  
{
  .hamburger{
    display: fixed;
    padding-top: 10px;
    margin-left: 10px;
    z-index: 10;
  }
}

body{
  margin-top: 4rem;
  font-family: Courier New, Courier, monospace;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 25%);
  display: grid;
}

.small
{
  font-size: 0.9rem;
  justify-content: center;
  word-wrap: break-word;
}
.med{
  font-size:1.2rem;
  justify-content: center;
  word-wrap: break-word;
}

.AUMar{
  margin: 2rem 0rem 2rem 0rem;
}
.vl{
  border-left:1px solid  white;
  height: fit-content;
}
.bold{
  font-weight: bold;
}
.xsmall{
  font-size:0.8rem;
  justify-content: center;
  word-wrap: break-word;
}
.xxsmall{
  font-size: 0.7rem;
  justify-content: center;
  word-wrap: break-word;
}
.hl{
  border-top:2px solid white;
  width: 100%;
}



@media (max-width: 1204px) {
  .vl{
    border-left: none;
  }  
  
}

.seperate{
  margin: 3rem 0rem 0rem 0rem;
}
.vl2{
  border-left:.09rem solid  white;
  vertical-align:top;
  line-height: 2em;
}

.editButton{
  color: white;
  background-color: green;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin: 0rem 0rem 2rem 0.5rem;
  text-align: justify;
  text-transform: uppercase;
  position: relative;
  isolation: isolate;
  appearance: none;
  cursor:pointer;
  font-size: small;
  border: 1px solid currentColor;
  border-radius: 0.210em;
}

.deleteButton{
  display: inline-block;
  margin: 0rem 0rem 2rem 0.5rem;
  text-align: justify;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  isolation: isolate;
  appearance: none;
  color: white;
  cursor:pointer;
  font-size: small;
  padding: 10px 20px;
  background-color: red;
  border: 1px solid currentColor;
  border-radius: 0.210em;
}

.the-button{
  display: inline-grid;
  text-decoration: none;
  position: relative;
  isolation: isolate;
  appearance: none;
  color: hsl(200, 100%, 65%);
  cursor:pointer;
  font-size: small;
  padding: 10px 20px;
  background-color: rgba(30, 121, 226, 0.4);
  
  text-transform: uppercase;
  border: 5px solid currentColor;
  border-radius: 0.210em;
}